openapi: 3.0.1
info:
  contact:
    email: omnicoresupport@korewireless.com
    name: API Support
    url: http://www.korewireless.com
  description: This is an OmniCore Model and State Management server.
  title: OmniCore Model and State Management API
  version: 1.8.2
servers:
- description: Production Server
  url: https://api.korewireless.com
- description: Demo Server
  url: https://demo.api.korewireless.com
security:
- bearerAuth: []
  apiKey: []
paths:
  /omnicore/subscriptions/{subscriptionId}/registries:
    get:
      description: Get all registries under a subscription
      operationId: getRegistries
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A list of registry string IDs. For example, ['registry0', 'registry12'].\
          \ If empty, this field is ignored. Maximum IDs: 10,000"
        explode: false
        in: query
        name: registryIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceRegistries'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
    post:
      description: Create a registry
      operationId: createRegistry
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistry'
        description: application/json
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistry'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
      x-codegen-request-body-name: Registry
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}:
    delete:
      description: Delete a registry
      operationId: deleteRegistry
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
    get:
      description: Get a registry
      operationId: getRegistry
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistry'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
    patch:
      description: Update a registry
      operationId: updateRegistry
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: "values to be updated: eventNotificationConfigs,stateNotificationConfig.pubsub_topic_name,logNotificationConfig.pubsub_topic_name,customOnboardNotificationConfig.pubsub_topic_name,mqttConfig.mqtt_enabled_state,httpConfig.http_enabled_state,logLevel,credentials,customOnboardEnabled"
        explode: true
        in: query
        name: updateMask
        required: true
        schema:
          enum:
          - eventNotificationConfigs
          - stateNotificationConfig.pubsub_topic_name
          - logNotificationConfig.pubsub_topic_name
          - customOnboardNotificationConfig.pubsub_topic_name
          - customOnboardEnabled
          - mqttConfig.mqtt_enabled_state
          - httpConfig.http_enabled_state
          - logLevel
          - credentials
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistry'
        description: application/json
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistry'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
      x-codegen-request-body-name: Registry
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/bindDeviceToGateway:
    post:
      description: Bind  a device to a gateway under a registry
      operationId: bindDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bindRequest'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Bind
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/bindDevicesToGateway:
    post:
      description: Bind devices to a gateway under a registry
      operationId: bindDevices
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bindRequestIdsGateway'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Bind
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/devices:
    get:
      description: Get all devices under a registry
      operationId: getDevices
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: "The maximum number of devices to return in the response. If\
          \ this value is zero, the service will select a default size. "
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The fields of the Device resource to be returned to the response.\
          \ The fields id and numId are always returned, along with any other fields\
          \ specified. A comma-separated list of fully qualified names of fields.\
          \ Example: "
        explode: true
        in: query
        name: fieldMask
        required: false
        schema:
          type: string
        style: form
      - description: "A list of device string IDs. For example, ['device0', 'device12'].\
          \ If empty, this field is ignored. Maximum IDs: 10,000"
        explode: false
        in: query
        name: deviceIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "A list of device numeric IDs. If empty, this field is ignored.\
          \ Maximum IDs: 10,000."
        explode: false
        in: query
        name: deviceNumIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If set, returns only the gateways with which the specified device\
          \ is associated. The device ID can be numeric (num_id) or the user-defined\
          \ string (id). For example, if 456 is specified, returns only the gateways\
          \ to which the device with num_id 456 is bound."
        explode: true
        in: query
        name: gatewayListOptions.associationsDeviceId
        required: false
        schema:
          type: string
        style: form
      - description: "If set, only devices associated with the specified gateway are\
          \ returned. The gateway ID can be numeric (num_id) or the user-defined string\
          \ (id). For example, if 123 is specified, only devices bound to the gateway\
          \ with num_id 123 are returned"
        explode: true
        in: query
        name: gatewayListOptions.associationsGatewayId
        required: false
        schema:
          type: string
        style: form
      - description: "If GATEWAY is specified, only gateways are returned. If NON_GATEWAY\
          \ is specified, only non-gateway devices are returned. If GATEWAY_TYPE_UNSPECIFIED\
          \ is specified, all devices are returned."
        explode: true
        in: query
        name: gatewayListOptions.gatewayType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevicesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
    post:
      description: Create a device under a registry
      operationId: createDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Device
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/devices/{deviceId}:
    delete:
      description: Delete a device under a registry
      operationId: deleteDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
    get:
      description: Get a device under a registry
      operationId: getDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
    patch:
      description: Modify device under a registry
      operationId: updateDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Only updates the device fields indicated by this mask.\
          \ The field mask must not be empty, and it must not contain fields that\
          \ are immutable or only set by the server. Mutable top-level fields: credentials,logLevel,\
          \ blocked,policy and metadata"
        explode: true
        in: query
        name: updateMask
        required: true
        schema:
          enum:
          - logLevel
          - blocked
          - metadata
          - credentials
          - gatewayConfig.gatewayAuthMethod
          - policy
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Device
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/unbindDeviceFromGateway:
    post:
      description: UnBind  a device from a gateway under a registry
      operationId: unBindDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bindRequest'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Unbind
  /omnicore/subscriptions/{subscriptionId}/registries/{registryId}/unbindDevicesFromGateway:
    post:
      description: UnBind devices from a gateway under a registry
      operationId: unBindDevices
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bindRequestIdsGateway'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Unbind
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/communication:
    put:
      description: Blocks All Communication From A Device
      operationId: blockDeviceCommuncation
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockCommunicationBody'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericEmptyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Block
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/configVersions:
    get:
      description: Get Configs Of Devices
      operationId: getConfig
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of versions to list. Versions are listed in decreasing\
          \ order of the version number. The maximum number of versions retained is\
          \ 10. If this value is zero, it will return all the versions available."
        explode: true
        in: query
        name: numVersions
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceConfigVersionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/updateConfigurationToDevice:
    post:
      description: Update A Configuration Of A Device
      operationId: updateConfigurationToDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceConfiguration'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceConfig'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Configuration
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/updateCustomOnboardRequest:
    post:
      description: Approve/Reject a Custom Onboard Request
      operationId: updateCustomOnboardRequest
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomOnboard'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: CustomOnboard
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/sendCommandToDevice:
    post:
      description: Send A Command To A Device
      operationId: sendCommandToDevice
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCommand'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericEmptyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
      x-codegen-request-body-name: Command
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/sendBroadcastToDevice:
    post:
      description: Send  Broadcast To Devices
      operationId: sendBroadcastToDevices
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCommand'
        description: application/json
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericEmptyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - registry
      x-codegen-request-body-name: Broadcast
  /omnicore/subscriptions/{subscriptionid}/registries/{registryId}/devices/{deviceId}/states:
    get:
      description: Get States Of Devices
      operationId: getStates
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Registry ID
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          type: string
        style: simple
      - description: Device ID
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of states to list. States are listed in descending\
          \ order of update time. The maximum number of states retained is 10. If\
          \ this value is zero, it will return all the states available."
        explode: true
        in: query
        name: numStates
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceStatesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - device
  /omnicore/subscriptions/{subscriptionId}/sinks:
    get:
      description: Get Sinks
      operationId: getSinks
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSinks'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get All Sinks
      tags:
      - sink
      x-codegen-request-body-name: Sink
    post:
      description: Create a Sink
      operationId: createSink
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sink'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sink'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - sink
      x-codegen-request-body-name: Sink
  /omnicore/subscriptions/{subscriptionId}/sinks/{sinkId}:
    delete:
      description: Delete a Sink
      operationId: deleteSink
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Sink ID
        explode: false
        in: path
        name: sinkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - sink
      x-codegen-request-body-name: Sink
    get:
      description: Get A Sink
      operationId: getASink
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      - description: Sink ID
        explode: false
        in: path
        name: sinkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sink'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - sink
      x-codegen-request-body-name: Sink
  /omnicore/subscriptions/{subscriptionId}/metrics:
    get:
      description: get metrics
      operationId: getMetrics
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - metrics
      x-codegen-request-body-name: Vault
  /vault/subscriptions/{subscriptionid}/enable-vault:
    post:
      description: Enable/Disable vault for a subscription
      operationId: enableVault
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableVault'
        description: application/json
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Details'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/audit:
    get:
      description: Get vault Audit
      operationId: getVaultAudit
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: Page Number
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/status:
    get:
      description: Get vault status
      operationId: getVaultStatus
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultStatus'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/metrics:
    get:
      description: Get vault metrics
      operationId: getVaultMetrics
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: start time
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: string
        style: form
      - description: end time
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/folders:
    get:
      description: Get vault folder data
      operationId: GetRegistryData
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderData'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/registry/{registryid}/files:
    get:
      description: Get vault files
      operationId: GetVaultFiles
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: registry ID
        explode: false
        in: path
        name: registryid
        required: true
        schema:
          type: string
        style: simple
      - description: file type
        explode: true
        in: query
        name: fileType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/configurations:
    get:
      description: Get vault configurations
      operationId: GetVaultConfigurations
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurations'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
    post:
      description: create vault configuration
      operationId: CreateVaultConfiguration
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfiguration'
        description: application/json
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/configurations/{configid}:
    delete:
      description: Delete Configuration
      operationId: DeleteConfiguration
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      - description: config id
        explode: false
        in: path
        name: configid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/replays:
    get:
      description: Get Replays
      operationId: GetReplays
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReplaysResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
    post:
      description: Start Replay
      operationId: StartReplay
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplayBody'
        description: application/json
      responses:
        "202":
          content:
            application/json:
              schema:
                example: success
                type: string
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
  /vault/subscriptions/{subscriptionid}/exports:
    get:
      description: Get Exports
      operationId: GetExports
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExportsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
    post:
      description: Start Export
      operationId: StartExport
      parameters:
      - description: Subscription ID
        explode: false
        in: path
        name: subscriptionid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartExportBody'
        description: application/json
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
          description: Internal Server Error
      tags:
      - vault
components:
  schemas:
    BlockCommunicationBody:
      example:
        isblocked: true
      properties:
        isblocked:
          type: boolean
      type: object
    DeviceCommand:
      example:
        binaryData: binaryData
        subfolder: subfolder
      properties:
        binaryData:
          description: Base64 Encoded Command String
          type: string
        subfolder:
          type: string
      required:
      - binaryData
      type: object
    DeviceConfiguration:
      example:
        binaryData: binaryData
        subfolder: subfolder
        versionToUpdate: versionToUpdate
      properties:
        binaryData:
          description: Base64 Encoded Config String
          type: string
        subfolder:
          type: string
        versionToUpdate:
          type: string
      required:
      - binaryData
      type: object
    CustomOnboard:
      example:
        parent: parent
        metadata:
          key: metadata
        numId: numId
        credentials:
        - expirationTime: expirationTime
          id: id
          publicKey:
            format: RSA_PEM
            key: key
        - expirationTime: expirationTime
          id: id
          publicKey:
            format: RSA_PEM
            key: key
        lastConfigSendTime: lastConfigSendTime
        lastErrorStatus:
          code: 0
          details: details
          message: message
        subscription: subscription
        capresent: true
        createdOn: createdOn
        deviceErrors: deviceErrors
        clientOnline: true
        lastErrorTime: lastErrorTime
        isGateway: true
        blocked: true
        logLevel: null
        lastHeartbeatTime: lastHeartbeatTime
        id: id
        state:
          binaryData: binaryData
          updateTime: updateTime
        gatewayConfig:
          gatewayType: NON_GATEWAY
          gatewayAuthMethod: GATEWAY_AUTH_METHOD_UNSPECIFIED
        policy:
          PublishEvents: true
          SubscribeCommandRegex: SubscribeCommandRegex
          SubscribeBroadcastRegex: SubscribeBroadcastRegex
          SubscribeCommand: true
          SubscribeConfig: true
          Connect: true
          PublishLoopback: true
          SubscribeBroadcast: true
          PublishEventsRegex: PublishEventsRegex
          PublishState: true
        registry: registry
        updatedOn: updatedOn
        lastConfigAckTime: lastConfigAckTime
        isApprove: true
        name: name
        lastEventTime: lastEventTime
        customOnboardData: customOnboardData
        config:
          acknowledged: true
          cloudUpdateTime: cloudUpdateTime
          binaryData: binaryData
          deviceAckTime: deviceAckTime
          version: 6
        gateway:
        - gateway
        - gateway
        lastStateTime: lastStateTime
      properties:
        id:
          maxLength: 256
          minLength: 3
          type: string
        name:
          readOnly: true
          type: string
        numId:
          readOnly: true
          type: string
        parent:
          readOnly: true
          type: string
        registry:
          readOnly: true
          type: string
        blocked:
          type: boolean
        capresent:
          readOnly: true
          type: boolean
        subscription:
          readOnly: true
          type: string
        createdOn:
          readOnly: true
          type: string
        updatedOn:
          readOnly: true
          type: string
        credentials:
          items:
            $ref: '#/components/schemas/DeviceCredential'
          type: array
        gateway:
          items:
            type: string
          type: array
        gatewayConfig:
          $ref: '#/components/schemas/GatewayConfig'
        isGateway:
          type: boolean
        deviceErrors:
          readOnly: true
          type: string
        clientOnline:
          readOnly: true
          type: boolean
        lastConfigAckTime:
          readOnly: true
          type: string
        lastConfigSendTime:
          readOnly: true
          type: string
        lastErrorStatus:
          $ref: '#/components/schemas/ErrorStatus'
        lastErrorTime:
          readOnly: true
          type: string
        lastEventTime:
          readOnly: true
          type: string
        lastHeartbeatTime:
          readOnly: true
          type: string
        lastStateTime:
          readOnly: true
          type: string
        logLevel:
          $ref: '#/components/schemas/LogLevel'
        metadata:
          additionalProperties:
            type: string
          type: object
        config:
          $ref: '#/components/schemas/DeviceConfig'
        state:
          $ref: '#/components/schemas/DeviceState'
        policy:
          $ref: '#/components/schemas/policy'
        customOnboardData:
          type: string
        isApprove:
          type: boolean
      required:
      - id
      type: object
    Device:
      example:
        parent: parent
        metadata:
          key: metadata
        numId: numId
        credentials:
        - expirationTime: expirationTime
          id: id
          publicKey:
            format: RSA_PEM
            key: key
        - expirationTime: expirationTime
          id: id
          publicKey:
            format: RSA_PEM
            key: key
        lastConfigSendTime: lastConfigSendTime
        lastErrorStatus:
          code: 0
          details: details
          message: message
        subscription: subscription
        capresent: true
        createdOn: createdOn
        deviceErrors: deviceErrors
        clientOnline: true
        lastErrorTime: lastErrorTime
        isGateway: true
        blocked: true
        logLevel: null
        lastHeartbeatTime: lastHeartbeatTime
        id: id
        state:
          binaryData: binaryData
          updateTime: updateTime
        gatewayConfig:
          gatewayType: NON_GATEWAY
          gatewayAuthMethod: GATEWAY_AUTH_METHOD_UNSPECIFIED
        policy:
          PublishEvents: true
          SubscribeCommandRegex: SubscribeCommandRegex
          SubscribeBroadcastRegex: SubscribeBroadcastRegex
          SubscribeCommand: true
          SubscribeConfig: true
          Connect: true
          PublishLoopback: true
          SubscribeBroadcast: true
          PublishEventsRegex: PublishEventsRegex
          PublishState: true
        registry: registry
        updatedOn: updatedOn
        lastConfigAckTime: lastConfigAckTime
        name: name
        lastEventTime: lastEventTime
        config:
          acknowledged: true
          cloudUpdateTime: cloudUpdateTime
          binaryData: binaryData
          deviceAckTime: deviceAckTime
          version: 6
        gateway:
        - gateway
        - gateway
        lastStateTime: lastStateTime
      properties:
        id:
          maxLength: 256
          minLength: 3
          type: string
        name:
          readOnly: true
          type: string
        numId:
          readOnly: true
          type: string
        parent:
          readOnly: true
          type: string
        registry:
          readOnly: true
          type: string
        blocked:
          type: boolean
        capresent:
          readOnly: true
          type: boolean
        subscription:
          readOnly: true
          type: string
        createdOn:
          readOnly: true
          type: string
        updatedOn:
          readOnly: true
          type: string
        credentials:
          items:
            $ref: '#/components/schemas/DeviceCredential'
          type: array
        gateway:
          items:
            type: string
          type: array
        gatewayConfig:
          $ref: '#/components/schemas/GatewayConfig'
        isGateway:
          type: boolean
        deviceErrors:
          readOnly: true
          type: string
        clientOnline:
          readOnly: true
          type: boolean
        lastConfigAckTime:
          readOnly: true
          type: string
        lastConfigSendTime:
          readOnly: true
          type: string
        lastErrorStatus:
          $ref: '#/components/schemas/ErrorStatus'
        lastErrorTime:
          readOnly: true
          type: string
        lastEventTime:
          readOnly: true
          type: string
        lastHeartbeatTime:
          readOnly: true
          type: string
        lastStateTime:
          readOnly: true
          type: string
        logLevel:
          $ref: '#/components/schemas/LogLevel'
        metadata:
          additionalProperties:
            type: string
          type: object
        config:
          $ref: '#/components/schemas/DeviceConfig'
        state:
          $ref: '#/components/schemas/DeviceState'
        policy:
          $ref: '#/components/schemas/policy'
      required:
      - id
      type: object
    DeviceConfig:
      example:
        acknowledged: true
        cloudUpdateTime: cloudUpdateTime
        binaryData: binaryData
        deviceAckTime: deviceAckTime
        version: 6
      properties:
        acknowledged:
          type: boolean
        binaryData:
          description: Base64 Encoded Comnfig String
          type: string
        cloudUpdateTime:
          type: string
        deviceAckTime:
          type: string
        version:
          type: integer
      type: object
    DeviceCredential:
      example:
        expirationTime: expirationTime
        id: id
        publicKey:
          format: RSA_PEM
          key: key
      properties:
        expirationTime:
          description: |-
            ExpirationTime: [Optional] The time at which this credential becomes
            invalid. This credential will be ignored for new client
            authentication requests after this timestamp; however, it will not be
            automatically deleted.
          type: string
        id:
          readOnly: true
          type: string
        publicKey:
          $ref: '#/components/schemas/PublicKeyCredential'
      type: object
    DeviceRegistry:
      example:
        parent: parent
        logNotificationConfig:
          pubsubTopicName: pubsubTopicName
        credentials:
        - publicKeyCertificate:
            certificate: certificate
            format: X509_CERTIFICATE_PEM
            x509Details:
              subject: subject
              expiryTime: expiryTime
              startTime: startTime
              issuer: issuer
              signatureAlgorithm: signatureAlgorithm
              publicKeyType: publicKeyType
          id: id
        - publicKeyCertificate:
            certificate: certificate
            format: X509_CERTIFICATE_PEM
            x509Details:
              subject: subject
              expiryTime: expiryTime
              startTime: startTime
              issuer: issuer
              signatureAlgorithm: signatureAlgorithm
              publicKeyType: publicKeyType
          id: id
        stateNotificationConfig:
          pubsubTopicName: pubsubTopicName
        updatedOn: updatedOn
        customOnboardNotificationConfig:
          pubsubTopicName: pubsubTopicName
        createdOn: createdOn
        isNatsRoute: true
        httpConfig:
          httpEnabledState: HTTP_ENABLED
        logLevel: null
        eventNotificationConfigs:
        - subfolderMatches: subfolderMatches
          pubsubTopicName: pubsubTopicName
        - subfolderMatches: subfolderMatches
          pubsubTopicName: pubsubTopicName
        name: name
        id: id
        numberOfDevices: 0
        numberOfGateways: 6
        mqttConfig:
          mqttEnabledState: MQTT_ENABLED
        customOnboardEnabled: true
      properties:
        id:
          maxLength: 256
          minLength: 3
          type: string
        name:
          readOnly: true
          type: string
        parent:
          readOnly: true
          type: string
        createdOn:
          readOnly: true
          type: string
        updatedOn:
          readOnly: true
          type: string
        credentials:
          items:
            $ref: '#/components/schemas/RegistryCredential'
          type: array
        httpConfig:
          $ref: '#/components/schemas/HttpConfig'
        mqttConfig:
          $ref: '#/components/schemas/MqttConfig'
        logLevel:
          $ref: '#/components/schemas/LogLevel'
        isNatsRoute:
          type: boolean
        eventNotificationConfigs:
          items:
            $ref: '#/components/schemas/EventNotificationConfig'
          type: array
        logNotificationConfig:
          $ref: '#/components/schemas/NotificationConfig'
        stateNotificationConfig:
          $ref: '#/components/schemas/NotificationConfig'
        customOnboardNotificationConfig:
          $ref: '#/components/schemas/NotificationConfig'
        customOnboardEnabled:
          type: boolean
        numberOfDevices:
          readOnly: true
          type: integer
        numberOfGateways:
          readOnly: true
          type: integer
      required:
      - id
      type: object
    DeviceState:
      example:
        binaryData: binaryData
        updateTime: updateTime
      properties:
        binaryData:
          description: Base64 Encoded State String
          type: string
        updateTime:
          type: string
      type: object
    Empty:
      type: object
    ErrorFrame:
      properties:
        code:
          type: integer
        details:
          type: string
        message:
          type: string
        status:
          type: string
      required:
      - code
      - details
      - message
      - status
      type: object
    ErrorStatus:
      example:
        code: 0
        details: details
        message: message
      properties:
        code:
          readOnly: true
          type: integer
        details:
          readOnly: true
          type: string
        message:
          readOnly: true
          type: string
      readOnly: true
      type: object
    EventNotificationConfig:
      example:
        subfolderMatches: subfolderMatches
        pubsubTopicName: pubsubTopicName
      properties:
        pubsubTopicName:
          description: |-
            PubsubTopicName: A Topic name. For example,
            `projects/myProject/topics/deviceEvents`.
          type: string
        subfolderMatches:
          description: |-
            SubfolderMatches: If the subfolder name matches this string exactly,
            this configuration will be used. The string must not include the
            leading '/' character. If empty, all strings are matched. This field
            is used only for telemetry events; subfolders are not supported for
            state changes.
          type: string
      type: object
    GatewayConfig:
      example:
        gatewayType: NON_GATEWAY
        gatewayAuthMethod: GATEWAY_AUTH_METHOD_UNSPECIFIED
      properties:
        gatewayAuthMethod:
          enum:
          - GATEWAY_AUTH_METHOD_UNSPECIFIED
          - ASSOCIATION_ONLY
          - DEVICE_AUTH_TOKEN_ONLY
          - ASSOCIATION_AND_DEVICE_AUTH_TOKEN
          type: string
        gatewayType:
          enum:
          - NON_GATEWAY
          - GATEWAY
          type: string
      type: object
    GenericEmptyResponse:
      type: object
    GenericErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorFrame'
      required:
      - error
      type: object
    HttpConfig:
      example:
        httpEnabledState: HTTP_ENABLED
      properties:
        httpEnabledState:
          description: |-
            HttpEnabledState: If enabled, allows devices to use DeviceService via
            the HTTP protocol. Otherwise, any requests to DeviceService will fail
            for this registry.

            Possible values:
              "HTTP_STATE_UNSPECIFIED" - No HTTP state specified. If not
            specified, DeviceService will be enabled by default.
              "HTTP_ENABLED" - Enables DeviceService (HTTP) service for the
            registry.
              "HTTP_DISABLED" - Disables DeviceService (HTTP) service for the
            registry.
          enum:
          - HTTP_ENABLED
          - HTTP_DISABLED
          - HTTP_STATE_UNSPECIFIED
          type: string
      type: object
    Info:
      example:
        info: info
      properties:
        info:
          type: string
      type: object
    ListDeviceConfigVersionsResponse:
      example:
        deviceConfigs:
        - acknowledged: true
          cloudUpdateTime: cloudUpdateTime
          binaryData: binaryData
          deviceAckTime: deviceAckTime
          version: 6
        - acknowledged: true
          cloudUpdateTime: cloudUpdateTime
          binaryData: binaryData
          deviceAckTime: deviceAckTime
          version: 6
      properties:
        deviceConfigs:
          items:
            $ref: '#/components/schemas/DeviceConfig'
          type: array
      type: object
    ListDeviceRegistries:
      example:
        pageNumber: 1
        deviceRegistries:
        - parent: parent
          logNotificationConfig:
            pubsubTopicName: pubsubTopicName
          credentials:
          - publicKeyCertificate:
              certificate: certificate
              format: X509_CERTIFICATE_PEM
              x509Details:
                subject: subject
                expiryTime: expiryTime
                startTime: startTime
                issuer: issuer
                signatureAlgorithm: signatureAlgorithm
                publicKeyType: publicKeyType
            id: id
          - publicKeyCertificate:
              certificate: certificate
              format: X509_CERTIFICATE_PEM
              x509Details:
                subject: subject
                expiryTime: expiryTime
                startTime: startTime
                issuer: issuer
                signatureAlgorithm: signatureAlgorithm
                publicKeyType: publicKeyType
            id: id
          stateNotificationConfig:
            pubsubTopicName: pubsubTopicName
          updatedOn: updatedOn
          customOnboardNotificationConfig:
            pubsubTopicName: pubsubTopicName
          createdOn: createdOn
          isNatsRoute: true
          httpConfig:
            httpEnabledState: HTTP_ENABLED
          logLevel: null
          eventNotificationConfigs:
          - subfolderMatches: subfolderMatches
            pubsubTopicName: pubsubTopicName
          - subfolderMatches: subfolderMatches
            pubsubTopicName: pubsubTopicName
          name: name
          id: id
          numberOfDevices: 0
          numberOfGateways: 6
          mqttConfig:
            mqttEnabledState: MQTT_ENABLED
          customOnboardEnabled: true
        - parent: parent
          logNotificationConfig:
            pubsubTopicName: pubsubTopicName
          credentials:
          - publicKeyCertificate:
              certificate: certificate
              format: X509_CERTIFICATE_PEM
              x509Details:
                subject: subject
                expiryTime: expiryTime
                startTime: startTime
                issuer: issuer
                signatureAlgorithm: signatureAlgorithm
                publicKeyType: publicKeyType
            id: id
          - publicKeyCertificate:
              certificate: certificate
              format: X509_CERTIFICATE_PEM
              x509Details:
                subject: subject
                expiryTime: expiryTime
                startTime: startTime
                issuer: issuer
                signatureAlgorithm: signatureAlgorithm
                publicKeyType: publicKeyType
            id: id
          stateNotificationConfig:
            pubsubTopicName: pubsubTopicName
          updatedOn: updatedOn
          customOnboardNotificationConfig:
            pubsubTopicName: pubsubTopicName
          createdOn: createdOn
          isNatsRoute: true
          httpConfig:
            httpEnabledState: HTTP_ENABLED
          logLevel: null
          eventNotificationConfigs:
          - subfolderMatches: subfolderMatches
            pubsubTopicName: pubsubTopicName
          - subfolderMatches: subfolderMatches
            pubsubTopicName: pubsubTopicName
          name: name
          id: id
          numberOfDevices: 0
          numberOfGateways: 6
          mqttConfig:
            mqttEnabledState: MQTT_ENABLED
          customOnboardEnabled: true
        pageSize: 5
        totalCount: 5
      properties:
        deviceRegistries:
          items:
            $ref: '#/components/schemas/DeviceRegistry'
          type: array
        pageNumber:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
      required:
      - deviceRegistries
      type: object
    ListDeviceStatesResponse:
      example:
        deviceStates:
        - binaryData: binaryData
          updateTime: updateTime
        - binaryData: binaryData
          updateTime: updateTime
      properties:
        deviceStates:
          items:
            $ref: '#/components/schemas/DeviceState'
          type: array
      type: object
    ListDevicesResponse:
      example:
        pageNumber: 1
        devices:
        - parent: parent
          metadata:
            key: metadata
          numId: numId
          credentials:
          - expirationTime: expirationTime
            id: id
            publicKey:
              format: RSA_PEM
              key: key
          - expirationTime: expirationTime
            id: id
            publicKey:
              format: RSA_PEM
              key: key
          lastConfigSendTime: lastConfigSendTime
          lastErrorStatus:
            code: 0
            details: details
            message: message
          subscription: subscription
          capresent: true
          createdOn: createdOn
          deviceErrors: deviceErrors
          clientOnline: true
          lastErrorTime: lastErrorTime
          isGateway: true
          blocked: true
          logLevel: null
          lastHeartbeatTime: lastHeartbeatTime
          id: id
          state:
            binaryData: binaryData
            updateTime: updateTime
          gatewayConfig:
            gatewayType: NON_GATEWAY
            gatewayAuthMethod: GATEWAY_AUTH_METHOD_UNSPECIFIED
          policy:
            PublishEvents: true
            SubscribeCommandRegex: SubscribeCommandRegex
            SubscribeBroadcastRegex: SubscribeBroadcastRegex
            SubscribeCommand: true
            SubscribeConfig: true
            Connect: true
            PublishLoopback: true
            SubscribeBroadcast: true
            PublishEventsRegex: PublishEventsRegex
            PublishState: true
          registry: registry
          updatedOn: updatedOn
          lastConfigAckTime: lastConfigAckTime
          name: name
          lastEventTime: lastEventTime
          config:
            acknowledged: true
            cloudUpdateTime: cloudUpdateTime
            binaryData: binaryData
            deviceAckTime: deviceAckTime
            version: 6
          gateway:
          - gateway
          - gateway
          lastStateTime: lastStateTime
        - parent: parent
          metadata:
            key: metadata
          numId: numId
          credentials:
          - expirationTime: expirationTime
            id: id
            publicKey:
              format: RSA_PEM
              key: key
          - expirationTime: expirationTime
            id: id
            publicKey:
              format: RSA_PEM
              key: key
          lastConfigSendTime: lastConfigSendTime
          lastErrorStatus:
            code: 0
            details: details
            message: message
          subscription: subscription
          capresent: true
          createdOn: createdOn
          deviceErrors: deviceErrors
          clientOnline: true
          lastErrorTime: lastErrorTime
          isGateway: true
          blocked: true
          logLevel: null
          lastHeartbeatTime: lastHeartbeatTime
          id: id
          state:
            binaryData: binaryData
            updateTime: updateTime
          gatewayConfig:
            gatewayType: NON_GATEWAY
            gatewayAuthMethod: GATEWAY_AUTH_METHOD_UNSPECIFIED
          policy:
            PublishEvents: true
            SubscribeCommandRegex: SubscribeCommandRegex
            SubscribeBroadcastRegex: SubscribeBroadcastRegex
            SubscribeCommand: true
            SubscribeConfig: true
            Connect: true
            PublishLoopback: true
            SubscribeBroadcast: true
            PublishEventsRegex: PublishEventsRegex
            PublishState: true
          registry: registry
          updatedOn: updatedOn
          lastConfigAckTime: lastConfigAckTime
          name: name
          lastEventTime: lastEventTime
          config:
            acknowledged: true
            cloudUpdateTime: cloudUpdateTime
            binaryData: binaryData
            deviceAckTime: deviceAckTime
            version: 6
          gateway:
          - gateway
          - gateway
          lastStateTime: lastStateTime
        pageSize: 5
        totalCount: 5
      properties:
        devices:
          items:
            $ref: '#/components/schemas/Device'
          type: array
        pageNumber:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
      required:
      - devices
      type: object
    MqttConfig:
      example:
        mqttEnabledState: MQTT_ENABLED
      properties:
        mqttEnabledState:
          description: |-
            MqttEnabledState: If enabled, allows connections using the MQTT
            protocol. Otherwise, MQTT connections to this registry will fail.

            Possible values:
              "MQTT_STATE_UNSPECIFIED" - No MQTT state specified. If not
            specified, MQTT will be enabled by default.
              "MQTT_ENABLED" - Enables a MQTT connection.
              "MQTT_DISABLED" - Disables a MQTT connection.
          enum:
[...]
